/*Universal Portion*/
/*
{
	border: 1px black solid;
}*/


/*Font Portion*/
/*p, h1, h2, h3, b, a, label, span*/
*
{
	font-family: Arial, Helvetica, sans-serif;
}

/*Link Portion*/
a:link, a:visited, a:hover, a:active
{
	color:White;
	text-decoration: none;
}

/*Universal*/
#MainBody
{
	margin: auto;
}

.centerVandH
{
    height: 200px;
    position: relative;
}

.lr-content, .content
{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/*Navigation Bar*/
.NavBar
{
	top: 0;
	margin: 0;
	display: block;
	padding: 10px;
	background-color:Green;
	position: -webkit-sticky;
	position: sticky;
	color: white;
	border-bottom: 1px black solid;
	display: grid;
	grid-template-columns: 22% 55% 22%;
	text-align: center;
}

#navi2 a
{
	padding-right:5%;
}

#navi1 li
{
	font-weight: bold;
}

#navi1 li, #navi2 li
{
	display: inline;
}

#navi1
{
	float:left;
	padding-left:1px;
}

#clock
{
	float:right;
}

/*Login & Register*/
.lr-content h1
{
	text-align: center;
}

.lrinputs
{
	margin: 0 0 10px 0;
	width: 100%;
	height: 30px;
}

#submits
{
	margin: auto;
	border-radius:2px;
	border:1px;
}

/*Homepage*/
.HPic
{
	margin: 0;
	width: auto;
	height: auto;
}

#B2
{
	color:White;
	background-color:Green;
}

.BodyH
{
	display: grid;
	grid-template-columns: 50% 50%;
	padding:150px 0;
	text-align: center;
	font-size:100%;
    align-items:center;
}

.BodyH h1, .BodyH HPic
{
    margin: 0;
    top: 50%;
}

.HPic img
{
    max-width: 87%;
    height: auto;
}

/*About*/
#AboutUs h1, #AboutUs p
{
    margin: 20px;
	text-align:center;
}

/*Account*/
#accnt
{
	padding: 75px 0;
	text-align: center;
}

#accntNegResult
{
    border-radius:2px;
    width: 100%;
    color: white;
    padding: 5px;
    background-color: red;
    margin-bottom: 5px;
}

#accntPosResult
{
    border-radius:2px;
    width: 100%;
    color: white;
    padding: 5px;
    background-color: green;
    margin-bottom: 5px;
}

#accntError
{
    color: red;
}

#accnt h1
{
	font-size: 200%;
}

.accBorders
{
	display: grid;
	grid-template-columns: 50% 50%;
	background-color:green;
	padding: 1px 12px;
	color:white;
	border-top: 1px black solid;
	border-bottom: 1px black solid;
}

#add
{
	padding: 5px;
	background-color: grey;
	float: right;
}


#subject, #content
{
	box-sizing: border-box;
	width: 100%;
	padding: 12px 12px;
	resize: vertical;
}

#subject:focus 
{
	border: 3px solid green;
}


/*Blogs Page*/
#searchDiv
{
	margin-top: 50px;
}

#searchBar
{
	width: 100%;
    text-align:center;
    margin-bottom: 10px;
}

.BodyB
{
	padding-top:15px;
	text-align: center;
}
